<center>
    <h1>New Employee Form Was Submitted Successfully!</h1>
    <table>
        <tr>
            <td><strong>Name:</strong></td>
            <td>{{ Name }}</td>
        </tr>
        <tr>
            <td><strong>Gender:</strong></td>
            <td>{{ Gender }}</td>
        </tr>
        <tr>
            <td><strong>Age:</strong></td>
            <td>{{ Age }}</td>
        </tr>
        <tr>
            <td><strong>ID:</strong></td>
            <td>{{ ID }}</td>
        </tr>
        <tr>
            <td><strong>Job:</strong></td>
            <td>{{ Job }}</td>
        </tr>
        <tr>
            <td><strong>Salary:</strong></td>
            <td>{{ Salary }}</td>
        </tr>
    </table>
</center>
 <center> <button onclick="window.location.href='http://127.0.0.1:5000//Show_employee_list'">Show Employee List</button></center>
 <center> <button onclick="window.location.href='http://127.0.0.1:5000'">Home</button></center>