<center>
    <h1>PLEASE ENTER EMPLOYEE DETAILS BELOW:</h1>
    <form method="POST">
        <table style="margin: auto;">
            <tr>
                <td style="text-align: right;">Name:</td>
                <td><input type="text" name="Name" required aria-required="true"></td>
            </tr>
            <tr>
                <td style="text-align: right;">Gender (f/m):</td>
                <td><input type="text" name="Gender" pattern="[fm]" required aria-required="true"></td>
            </tr>
            <tr>
                <td style="text-align: right;">Age:</td>
                <td><input type="number" name="Age" min="18" max="100" required aria-required="true"></td>
            </tr>
            <tr>
                <td style="text-align: right;">ID:</td>
                <td><input type="text" name="ID" maxlength="9" required aria-required="true"></td>
            </tr>
            <tr>
                <td style="text-align: right;">Job:</td>
                <td><input type="text" name="Job" required></td>
            </tr>
            <tr>
                <td style="text-align: right;">Salary:</td>
                <td><input type="number" name="Salary" aria-required="true"></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: left;"><input type="submit"></td>
            </tr>
        </table>
    </form>

</center>
 <center><button onclick="window.location.href='http://127.0.0.1:5000'">Home</button></center>
<form method="POST" onsubmit="return validateForm()">
    <!-- Form fields here -->
</form>
 <script>
    function validateForm() {
        var enteredID = document.getElementsByName('ID').value;
        var existingIDs = [
            {% for id in existingIDs %}
            '{{ id }}',
            {% endfor %}
        ];

        // Check if the entered ID already exists
        if (existingIDs.includes(enteredID)) {
            alert('Error: ID already exists in the Database!');
            return false; // Prevent form submission
        }

        return true; // Allow form submission
    }
</script>